.about-content {
  display: grid;
  gap: 4vw;
  text-align: center;
}

.about-text {
  background-color: #fff;
  padding: 2rem 5vw;
  line-height: 26px;
}

.contact {
  padding: 2rem 5vw;
  line-height: 30px;
}

.contact .website {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.about-logo {
  padding: 2rem 5vw;
  background-color: #fff;
  display: grid;
  gap: 4vw;
}

.about-logo p {
  font-size: 3.5vw;
}

.about-logo img {
  width: 90vw;
}

.history {
  padding: 2rem 5vw;
  display: grid;
  gap: 4vw;
}

.summits {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  margin-top: 5vw;
}

.first,
.second {
  position: relative;
}

.summits img {
  width: 100%;
}

.summits .text {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 99%;
  z-index: 2;
  color: #fff;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text h5 {
  font-size: 8vw;
  font-weight: 700;
}
