@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --black: #272a31;
  --orange: #ec5242;
  --program: #ff5438;
  --button: #ff4f38;
  --underline: #a04038;
  --grey: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  transition: all 0.3s ease-in-out;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

a,
a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

.icon {
  cursor: pointer;
}

body {
  background-color: var(--grey);
}

/* ========== Header Section ========== */
header {
  background-color: #fff;
  height: fit-content;
  padding: 0.6rem 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo {
  width: 14vw;
}

.logo img {
  width: 100%;
}

.menu {
  position: fixed;
  background-color: #272a31;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 5vw;
  font-size: 4.5vw;
  transform: translateX(-100vw);
}

.menu .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-btn img {
  width: 3%;
}

.image img {
  width: 100%;
}

.logos img {
  float: left;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.logos img:first-of-type {
  width: 70px;
  height: 70px;
}

.menu .menu-links {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  gap: 2rem;
}

.menu-links li {
  padding: 3vw 2.5vw;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  /* border-left: 1px solid #fff; */
}

.menu-links li:hover {
  color: var(--button);
  border-color: var(--button);
  transform: translateX(8px) translateY(-3px);
}

.backdrop {
  position: absolute;
  top: 0;
  right: -20vw;
  height: 100vh;
  width: 20vw;
  backdrop-filter: blur(5px);
}

.open-menu {
  transform: translateX(0);
}

/* ========== End Header Section ========== */

/* ========== Hero Section ========== */

.hero {
  padding: 4rem 3.5vw;
  display: grid;
  gap: 4vw;
  padding-top: 6rem;
  background: url(./../images/background.png) no-repeat top left;
  background-size: cover;
}

.hero h4 {
  color: var(--orange);
  font-size: 4vw;
  font-weight: 300;
}

.hero h1 {
  color: var(--orange);
  font-size: 8vw;
  font-weight: 900;
}

.hero .description {
  border: 2px solid #fff;
  padding: 4vw;
  font-size: 18px;
}

.hero h3 {
  font-weight: 800;
  font-size: 5.6vw;
}

.hero .copy {
  font-size: 2.6vw;
}

/* ========== End Hero Section ========== */

/* ========== Program Section ========== */

.program {
  padding: 4rem 4vw;
  background-color: var(--black);
  color: #fff;
  display: grid;
  gap: 4vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.title {
  position: relative;
  text-align: center;
  width: fit-content;
  margin: 0 auto 2rem auto;
  font-size: 5vw;
}

.title.underline::after {
  content: '';
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: -4vw;
  background-color: var(--underline);
  left: 40%;
}

.program .content .card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5vw 2vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0;
  font-size: 3vw;
  line-height: 22px;
}

.program .card img {
  width: 40%;
}

.card .title {
  color: var(--program);
  font-size: 3.6vw;
  font-weight: 700;
  width: fit-content;
  text-align: left;
  line-height: 30px;
}

.program .join-btn {
  background-color: var(--button);
  width: 85%;
  padding: 2rem 2rem;
  color: #fff;
  font-size: 4vw;
  align-self: center;
  margin: 1rem auto 0 auto;
  border-radius: 8px;
}

.program .join-btn:hover {
  border-radius: 0;
}

/* ========== End Program Section ========== */

/* ========== Speakers Section ========== */
.speakers {
  background-color: #fff;
  padding: 4rem 4vw;
}

.speakers .content {
  padding: 2rem 0;
  display: grid;
  gap: 3vw;
}

.speakers .content .card {
  display: flex;
  gap: 3vw;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
  width: 70%;
  gap: 2vw;
  margin-top: 3vw;
}

.speaker-info .name {
  font-size: 4vw;
  font-weight: 700;
}

.speaker-info .position {
  color: #f78c89;
  font-size: 3vw;
}

.speaker-info .summary {
  font-size: 2.4vw;
}

.speakers .more-btn {
  border: 1px solid #aaa;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* ========== End Speakers Section ========== */

/* ========== Partners Section ========== */
.partners {
  background: #414246;
  color: #fff;
  padding: 4rem 1vw;
}

.partners .images {
  padding: 1vw;
  width: 100%;
  display: grid;
  gap: 8vw;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  align-items: center;
  justify-content: center;
}

.partners .images > * {
  width: 100%;
  margin: 0 auto;
}

/* ========== End Partners Section ========== */

/* ========== Footer Section ========== */
footer {
  display: flex;
  gap: 5vw;
  padding: 2rem 4vw;
  align-items: center;
}

footer .logo {
  width: 60%;
}

footer .copyright {
  font-size: 2.4vw;
  display: grid;
  gap: 1rem;
}

/* ========== End Footer Section ========== */

@media (min-width: 768px) {
  /* ========== Header Section ========== */
  header {
    background-color: #fff;
    height: fit-content;
    padding: 0.6rem 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    width: unset;
    height: 7vw;
  }

  .logo img {
    width: unset;
    height: 100%;
  }

  .menu {
    position: unset;
    background-color: inherit;
    color: #000;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap: 1vw;
    padding: 1vw;
    font-size: 1.8vw;
    transform: translateX(0);
  }

  .menu .logos {
    display: none;
  }

  .image img {
    width: 100%;
  }

  .menu .menu-links {
    display: flex;
    flex-direction: row;
    padding: 0vw;
    gap: 1rem;
  }

  .menu-links li {
    padding: 1vw;
    border: 1px solid transparent;
  }

  .menu-links li:hover {
    transform: translate(0);
  }

  .backdrop {
    display: none;
  }

  /* ========== End Header Section ========== */

  /* ========== Hero Section ========== */

  .hero {
    padding: 4rem 6vw;
    gap: 6vw;
    padding-top: 20vw;
    /* height: 100vh; */
  }

  .hero h4 {
    font-size: 3.6vw;
  }

  .hero h1 {
    font-size: 6vw;
    margin-top: -6vw;
  }

  .hero .description {
    border: 4px solid #fff;
    padding: 4vw;
    font-size: 3vw;
  }

  .hero h3 {
    font-weight: 800;
    font-size: 3.6vw;
  }

  .hero .copy {
    font-size: 2.8vw;
    margin-top: -6vw;
  }

  /* ========== End Hero Section ========== */

  /* ========== Program Section ========== */

  .program {
    padding: 4rem 6vw;
    display: grid;
    gap: 4vw;
  }

  .content {
    flex-direction: row;
    gap: 1vw;
  }

  .title {
    margin: 0 auto 2vw auto;
    font-size: 3vw;
  }

  .title.underline::after {
    bottom: -2vw;
  }

  .program .content .card {
    padding: 1vw 1vw;
    border-radius: 5px;
    flex-direction: column;
    gap: 5%;
    font-size: 1.6vw;
    line-height: 22px;
    text-align: center;
  }

  .program .card img {
    width: 7vw;
    height: 7vw;
  }

  .card .title {
    font-size: 2vw;
    font-weight: 700;
    width: fit-content;
    text-align: left;
    line-height: 30px;
  }

  .program .join-btn {
    background-color: transparent;
    width: fit-content;
    padding: 0.6rem;
    font-size: 2vw;
    margin: 2vw auto 0 auto;
  }

  .program .join-btn:hover {
    text-decoration: underline;
  }

  /* ========== End Program Section ========== */

  /* ========== Speakers Section ========== */
  .speakers {
    padding: 4rem 4vw;
  }

  .speakers .content {
    padding: 2rem 0;
    display: grid;
    gap: 2vw;
    margin-top: 3rem;
  }

  .speakers .content .card {
    display: flex;
    gap: 2vw;
  }

  .speakers .content .card:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .speakers .content .card:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .speakers .content .card:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .speakers .content .card:nth-of-type(4) {
    grid-column: 2;
    grid-row: 1;
  }
  .speakers .content .card:nth-of-type(5) {
    grid-column: 2;
    grid-row: 2;
  }

  .speakers .content .card:nth-of-type(6) {
    grid-column: 2;
    grid-row: 3;
  }

  .speaker-info {
    justify-content: flex-start;
    width: 70%;
    gap: 1.5vw;
    margin-top: 1vw;
  }

  .speaker-info .name {
    font-size: 2vw;
  }

  .speaker-info .position {
    font-size: 1.6vw;
  }

  .speaker-info .summary {
    font-size: 1.5vw;
  }

  .speakers .more-btn {
    display: none;
  }

  /* ========== End Speakers Section ========== */

  /* ========== Partners Section ========== */
  .partners {
    padding: 2rem 1vw;
  }

  .partners .images {
    padding: 1vw;
    display: flex;
    gap: 8vw;
    margin-top: 2rem;
  }

  .partners .images > * {
    width: 100%;
  }

  /* ========== End Partners Section ========== */

  /* ========== Footer Section ========== */
  footer {
    display: flex;
    gap: 5vw;
    padding: 2rem 4vw;
    align-items: center;
  }

  footer .logo {
    width: 60%;
  }

  footer .copyright {
    font-size: 1.8vw;
    gap: 1rem;
  }

  /* ========== End Footer Section ========== */
}

@media (min-width: 1100px) {
  /* ========== Header Section ========== */
  header {
    padding: 0 14vw;
  }

  .logo {
    height: 4vw;
  }

  .menu {
    gap: 1vw;
    padding: 1vw;
    font-size: 0.9vw;
  }

  .menu .menu-links {
    padding: 0vw;
    gap: 1rem;
  }

  .menu-links li {
    padding: 0.5vw 1vw;
  }

  /* ========== End Header Section ========== */

  /* ========== Hero Section ========== */

  .hero {
    padding: 4rem 14vw;
    gap: 4vw;
    padding-top: 9rem;
  }

  .hero h4 {
    font-size: 1.8vw;
  }

  .hero h1 {
    font-size: 4.4vw;
    margin-top: -3vw;
  }

  .hero .description {
    width: 65%;
    padding: 1.5vw;
    font-size: 1.2vw;
  }

  .hero h3 {
    font-size: 2.4vw;
  }

  .hero .copy {
    font-size: 1.1vw;
    font-weight: 400;
    margin-top: -3vw;
  }

  /* ========== End Hero Section ========== */

  /* ========== Program Section ========== */

  .program {
    padding: 4rem 14vw;
    gap: 4vw;
  }

  .content {
    gap: 0.5vw;
  }

  .title {
    margin: 1vw auto;
    font-size: 1.8vw;
  }

  .title.underline::after {
    bottom: -1vw;
  }

  .program .content .card {
    padding: 0.8vw 0.6vw;
    gap: 0;
    font-size: 1vw;
    line-height: 1.8vw;
  }

  .program .card img {
    width: 4vw;
    height: 4vw;
  }

  .card .title {
    font-size: 1.2vw;
    line-height: unset;
  }

  .program .join-btn {
    padding: 0.6rem;
    font-size: 1vw;
    line-height: 2vw;
  }

  /* ========== End Program Section ========== */

  /* ========== Speakers Section ========== */
  .speakers {
    padding: 4rem 16vw;
  }

  .speakers .content {
    padding: 2rem 0;
    gap: 2vw;
    margin-top: 3rem;
  }

  .speakers .content .card {
    gap: 1vw;
  }

  .speaker-info {
    width: 70%;
    gap: 0.7vw;
    margin-top: 1vw;
    line-height: 1.2vw;
  }

  .speaker-info .name {
    font-size: 1.4vw;
  }

  .speaker-info .position {
    font-size: 0.9vw;
  }

  .speaker-info .summary {
    font-size: 0.8vw;
  }

  /* ========== End Speakers Section ========== */

  /* ========== Partners Section ========== */
  .partners {
    padding: 2rem 14vw;
  }

  .partners .images {
    padding: 1vw;
    gap: 4vw;
    margin-top: 2rem;
  }

  /* ========== End Partners Section ========== */

  /* ========== Footer Section ========== */
  footer {
    gap: 3vw;
    padding: 2rem 20vw;
  }

  footer .logo {
    width: 50%;
  }

  footer .copyright {
    font-size: 0.8vw;
    gap: 1rem;
  }

  /* ========== End Footer Section ========== */
}
